@import "../../../../public/scss/style.scss";

.slider {
  margin-bottom: 50px;
}

.mid-slider {
  height: auto;
  margin: 15px auto -5px auto;
  position: relative;
  @include view("pc") {
    width: 90%;
    max-width: 1200px;

    &:not(:hover) {
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 0;
      }
    }
    &:hover {
      .swiper-button-next {
        color: black;
        background-color: rgba(255, 255, 255, 0.718);
        border-radius: 100%;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
      }
      .swiper-button-prev {
        color: black;
        background-color: rgba(255, 255, 255, 0.718);
        border-radius: 100%;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 15px;
      }

      .swiper-button-disabled {
        background-color: rgba(255, 255, 255, 0.718);
        opacity: 100;
      }
    }
  }
  @include view("mobile") {
    width: 100%;
    overflow: scroll;
    padding-bottom: 20px;

    &:not(:hover) {
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 0;
        display: none;
      }
    }
    &:hover {
      .swiper-button-next,
      .swiper-button-prev {
        opacity: 0;
        display: none;
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        opacity: 0;
        display: none;
      }

      .swiper-button-disabled {
        opacity: 0;
        display: none;
      }
    }
    .swiper-slide-active {
      margin-left: 20px;
    }
  }
}

.cards-body {
  display: flex;
  margin: 0 5px;
  &:hover {
    cursor: pointer;
  }
}

.midslider-icon {
  position: absolute;
  width: 3.5vw;
  height: 3.5vh;
  z-index: 1;
  border-radius: 100%;
  border: 2px solid white;
  top: 5px;
  left: 5px;
  max-width: 35px;
  min-width: 30px;
}

.nick-name {
  position: absolute;
  color: rgba(255, 255, 255, 0.812);
  width: 100%;
  height: 23vw;
  min-height: 170px;
  max-height: 240px;
  max-width: 180px;
  display: flex;

  div {
    font-size: 15px;
    margin: auto auto 5px 5px;
  }
}

.style-img {
  object-fit: cover;
  border-radius: 8px;
  @include view("pc") {
    width: 100%;
    height: 22.2vw;
    min-height: 170px;
    max-height: 240px;
    max-width: 180px;
  }
  @include view("mobile") {
    height: 175px;
    width: 130px;
  }
}

.non-style-img {
  visibility: hidden;
}

.swiper-slide-prev {
  visibility: hidden;
}
