.imgSize {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
  }
}

.pcImg {
  width: 100%;
  height: 45vw;
  max-height: 500px;
  object-fit: fill;
}

.nonPcImg {
  width: 100%;
  min-height: 470px;
  object-fit: cover;
}
