.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: white;
}

.headerTop {
  width: 100%;
  height: 23px;
  display: flex;
  justify-content: space-around;
  color: rgba(90, 85, 85, 0.956);
  font-size: 12px;
  justify-content: flex-end;
  div {
    margin: 10px 10px 0 10px;
    &:hover {
      cursor: pointer;
    }
  }
  border-bottom: solid 1px #dcdcdc;
  padding-bottom: 10px;
}

.headerBottom {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.742);
  div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 20px;
    div {
      &:hover {
        cursor: pointer;
      }
    }
  }
  border-bottom: solid 1px rgba(128, 128, 128, 0.206);
}

.logo {
  width: 120px;
  height: 36px;
  margin-left: 15px;
  &:hover {
    cursor: pointer;
  }
}

.pcIcon {
  font-size: 25px;
  margin: 5px 15px;
  &:hover {
    cursor: pointer;
  }
}

.nonPcIcon {
  font-size: 25px;
  margin: 5px 15px;
  &:hover {
    cursor: pointer;
  }
}
